@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header {
    padding: 47px 0px 177px 42px;
}
header .menu, .button {
    display: inline-block;
}
header .menu a, .button {
    text-decoration: none;
}
header .menu a {
    font-size: 14px;
    font-weight: 400;
    margin-right: 32px;
    color: #17233D;
}
header .button {
    text-decoration: none;
    color:#ffffff;
    background-color: #4CB538;
    width: 124px;
    font-size: 16px;
    font-weight: 500;
    margin-right: 15px;
    border-radius: 15%;
    transition: all 0.5s;
    text-align: center;
    padding: 14px 28px;
    transition: all 0.5s;
}
header .button:hover {
    background-color: #99e599;
    color: #161A49;
}
section {
    position: absolute;
    right: 0;
    padding: 0px 0px 0px 85px;
}
section, .caixa-img {
    display: inline-block;
}
section h1 {
    width: 582px;
    font-size: 62px;
    font-weight: 700;
    color: #161A49;
}
section p {
    width: 493px;
    color: #4B505A;
    font-size: 18px;
    font-weight: 400;
    margin: 47px 0px 55px 0px;
}
section .link-color-green {
        font-size: 18px;
        text-decoration: none;
        width: 112px;
        color: #6FBF44;
        font-weight: 500;
        display: block;
}
.caixa-img {
    position: absolute;
    top: 200px;
    left: 0px;
    padding-left: 20px;
    padding-bottom: 100px;
}
.caixa-img img {
    width: 590px;
    height: 500px;
}

@media screen and (max-width: 391px){
    header {
        padding: 7px 0px 76px 0px;
    }
    header .menu {
        display: none;
    }
    header .button {
        text-decoration: none;
        color:#ffffff;
        background-color: #4CB538;
        width: 91px;
        display: block;
        padding: 7px 20px;
        font-size: 12px;
        font-weight: 500;
        position: absolute;
        right: 0;
        margin-right: 15px;
        border-radius: 15%;
        transition: all 0.5s;
    }
    header .button:hover {
        background-color: #99e599;
        color: #161A49;
    }
    section, .caixa-img {
        display: block;
        position: static;
    }
    .caixa-img img {
        width: 312px;
        height: 288px;
    }
    section {
        padding: 0;
    }
    section h1 {
        font-size: 30px;
        text-align: center;
        font-weight: 700;
        width: 278px;
        margin: auto;
        color: #161A49;
    }
    section p {
        width: 304px;
        font-size: 18px;
        font-weight: 400;
        margin: 28px auto 26px auto;
        text-align: center;
    }
    .link-color-green {
        font-size: 18px;
        text-decoration: none;
        width: 112px;
        color: #6FBF44;
        font-weight: 500;
        display: block;
        margin: 26px auto 59px auto;
    }
    .caixa-img {
        padding: 0px 39px 22px 39px;
    }
}
